/* 
CAREFULL WHEN MARGIN TAKE TIME TO  KNOW HOW TO DISPLAY CORRECTLY
margin right FOR ALL
spacer : put to right end and 85% width
twitter button -> smaller


recoTopics spaces
recoTopics positions


followDescription check description size

MAKE ALL RESPONSIVE--> less than 904px HIDE ALL

comment a little bit


on comments B[0] should be smaller

commentText should be bolder

span with date, put some mt or pt ( dont work right now)
star, vertical align center
*/

#spacer {
  background: rgba(146, 141, 141, 0.137);
  height: 2px;
  width: 75%;
}

#connectToTwitter {
  border-style: solid;
  border-radius: 50px;
  border-color: rgb(58, 55, 55);
  border-width: 1px;
}

.followDescription {
  font-size: 75%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.bgCustomWhite {
  background: white !important;
}

.profileToFollow {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.commentAvatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 30% !important;
}

.commentText {
  /* font-weight: bolder; not  enough */
}

.commentAvatarType2 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50% !important;
}
