/* 
CAREFULL WHEN MARGIN TAKE TIME TO  KNOW HOW TO DISPLAY CORRECTLY
margin right FOR ALL
spacer : put to right end and 85% width


recoTopics spaces
recoTopics positions


followDescription check description size



MAKE ALL RESPONSIVE

*/

#spacer {
  background: rgba(146, 141, 141, 0.137);
  height: 2px;
  width: 75%;
}

#connectToTwitter {
  display: inline-block;
  border-style: solid;
  border-radius: 50px;
  border-color: rgb(58, 55, 55);
  border-width: 1px;
}

.followDescription {
  font-size: 70%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.bgCustomWhite {
  background: white !important;
}

.profileToFollow {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
